.MuiCard-root {
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  min-width: 600px;
  padding: 16px 0 16px 0;

  .input-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }
}
