.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  h2 {
    color: black;
    font-weight: lighter;
    margin: unset;
  }

  h3 {
    margin: unset;
    font-size: 2rem;
  }
}
